<div class="fv_home" style="background-image: url(<%= image_url('assets/images/Mono_live_20050502.jpg') %>)">
  <div class="fv_inner">
  <p class="lead">Get Beating,<br />With Best Mate.</p>
  <p class="link"><a href="/q">仲間を集める</a></p>
  </div>
</div>

<div class="lp">
  <div>
  <h2 class="titleMain_center">みんなで集まって、音楽を鳴らそう。</h2>
  <p>あなたにぴったりのバンドメンバーが集まるプラットフォーム</p>
  </div>
</div>