/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* body
*********************************/
body {
  font-family: 'Hiragino Sans', 'Verdana', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.08em;
  margin: 0;
  color: #232323;
  word-break: break-all;
  word-wrap: break-word;
}

.link{
  
}

/* header
*********************************/
.header{
  height: 70px;
  background-color: #30373D;
  border-bottom: 1px solid #FFFFFF;
}

.logo{
  text-align:center;
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
}

@media screen and (min-width : 736px) {
  #menu {
    display: block;
  }
  .slicknav_menu {
    display: none;
  }
}


/* footer
*********************************/

.footer{

}

.footer-innner{

}

.copyright{

}