<title>AUTOBAND</title>
<meta name="description" content="バンドを始めるならAutoband。好みの音楽ジャンルやパートに合わせて、あなたにぴったりの仲間を探すことができます。現在、関東地区限定でベータ版稼働中。">
<meta name="keywords" content="AUTOBAND", "autoband", "オートバンド", "おーとばんど", "バンド", "バンド仲間", "バンド 始める">
<link rel="canonical" href="https://autoband.jp/">

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>