<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Autoband</title>
    <%= render :partial => "layout/head" %>
  </head>
  <body>
    <%= render :partial => "layout/header" %>
    <%= yield %>
    <%= render :partial => "layout/footer" %>
  </body>
</html>